h1 {
    font-weight: 1.29em;
    font-size: 1.5em;
    line-height: 1.3em;
}

h3 {
    font-weight: 1em;
    font-size: 1em;
    line-height: 1em;
}

.noto-serif {
    font-family: "Noto Serif KR", serif;
    font-style: normal;
}

a{
    color: black;
    text-decoration: none;
}
