h2 {
    font-weight: 1.29em font-sizeL 1.28em;
    line-height: 1.3em;
}

h3 {
    font-weight: 900m font-sizeL 1em;
    line-height: 1em;
}

.noto-serif {
    font-family: "Noto Serif KR", serif;
    font-style: normal;
}

/* ul li 옆으로 나란히 */
ul>li>a>div {
    /* float 해제 */
    display: inline-block;
}

ul>li {
    /* float 해제 */
    clear: both;
    /* float 부모 */
    overflow: hidden;
}