<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script>
        //디버깅 용도로 많이 쓰임
        document.write("1안녕");
        document.write("1하세요");
        //띄어쓰기가 반영되지 않음
    </script>
</head>

<body>
    <h1 id="id2">JavaScript 처음0</h1>
    <h1 class="c2">JavaScript 처음1</h1>
    <h1 class="c2">JavaScript 처음2</h1>

    <script>
        var a3 = document.getElementById("id2");
        console.log(a3);
        var a4 = document.getElementsByClassName("c2");
        console.log(a4);
        var a5 = document.getElementsByTagName("h1");
        console.log(a5);
        var a6 = document.querySelector(".c2");  //두개중에 첫번째꺼 보여줌
        console.log(a6);
        var a7 = document.querySelectorAll(".c2");  //두개 다 보여줌
        console.log(a7);

        var a8 = true;
        console.log(typeof a8);
        var a9 = 123.123;
        console.log(typeof a9);
        var a10; //값 없으면 undifined선언
        console.log(typeof a10);
        a10 = 123;
        console.log(typeof a10); //대입한 값에 따라 자료형이 바뀜
        console.log("window확인중"); //window는 생략 가능하다.
        console.log(window.a10);

        window.alert("window 객체의 alert라는 함수(메소드)를 호출함.");
        alert("window 객체명 생략하고 접근 가능함.");  //document에도 window 붙어있음

        var a11 = {
            k1: 123, name: "홍길동", gender: "f"
            , score: { kor: 100, eng: 90, math: 70 }
            , a140: function () {
                console.log("funtion 형태 a140의 값");
                console.log("키명=변수명 a140이 funtion명이 됩니다.");
                return 5 * 10;
            }
        };
        console.log(a11);
        console.log(a11.k1);
        console.log(a11.score.math);
        console.log(a11.a140);  // a140내부의 내용이 무엇인지
        console.log(a11.a140()); //실행 결과 출력


    </script>

    <script>
        document.write("2안녕");
        document.write("2하세요");
        //띄어쓰기가 반영되지 않음
    </script>
    <script>
        document.write("안녕");
        //window.alert("경고문구");
        //화면 공백에서 뿌려짐
        //alert이 가장먼저 반응하기 때문에 안녕이 뒤에 뜨지 않음
        //화면이 보여지는 상태에서 뿌려지려면 ajax(비동기 방식)

        document.getElementsByTagName("h1")[1].innerHTML = '<a href="#">바꿈문자</a>';
        document.getElementsByTagName("h1")[2].innerText = '<a href="#">바꿈문자</a>';
    </script>
    <script>
        // var a1 = window.prompt();
        // document.getElementsByTagName("h1")[0].innerHTML=a1;
        // console.log(a1);
        // var a2 = window.confirm();
        // console.log(a2);
    </script>

    <script>
        //함수 정의
        var a100 = function () {
            console.log("funtion 형태 변수 선언");
            console.log("변수명이 funtion명이 됩니다.");
            return 5 * 10; //리턴 타입이 자유로움(모든 자료형 가능)
        }
        console.log(typeof (a100));
        console.log(a100);
        //함수 실행
        a100();
        console.log(a100());
        var a110 = a100();


        function a120() {
            console.log("funtion 정의함");
            console.log("자바와 동일한 위치에 함수명이 있습니다.");
            return 5 * 10; //리턴 타입이 자유로움(모든 자료형 가능)
        }
        a120();
        console.log(a120());

    </script>
</body>

</html>