<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- layout - 00 필수!!! reset.css -->
    <link href="../css/reset.css" rel="stylesheet">
    <link href="../css/mydiv.css" rel="stylesheet">
    <!-- <style>
        span{
            display: block;
            width: 200px;
            height: 300px;
            padding: 5px;
            /* 양 옆 padding은 가능 */
            margin: 20px;
            border: 1px solid red;
        }
        div{
            display: inline-block;
            width: 200px;
            height: 300px;
            border: 1px solid black;
            padding: 5px;
            margin: 20px;
        }
    </style> -->
</head>

<body>
    <span>인라인 임시 테스트용</span>
    <div>블럭 임시 테스트용</div>
    <div class="wrap">
        <header>
            <h1>제목:회사명,로고,로그인</h1>
        </header>
        <div class="wrap-nav">
            <nav>
                <ul>
                    <li> 메뉴1 </li>
                    <li> 메뉴1 </li>
                    <li> 메뉴1 </li>
                </ul>
            </nav>
        </div>
        <div class="wrap-content">
            <section>
                <article>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris semper, mauris ac pulvinar
                    efficitur, neque odio blandit justo, at ullamcorper tellus leo quis arcu. Vivamus congue felis vel
                    orci tincidunt iaculis. Etiam lectus arcu, viverra in quam eget, feugiat mollis dui. Mauris cursus
                    molestie nibh quis facilisis. Vestibulum sit amet nisl turpis. Maecenas dictum, sapien non luctus
                    maximus, nunc odio facilisis enim, vitae volutpat nisl nibh ac magna. Curabitur dignissim lobortis
                    sagittis. Proin et nisl vestibulum, aliquet metus eu, euismod odio. Praesent tristique interdum
                    ligula, vel sodales odio condimentum eu. Suspendisse non tellus nec purus euismod posuere eget
                    viverra velit. Maecenas justo metus, elementum quis hendrerit et, egestas in massa. Duis tincidunt
                    facilisis purus sed vestibulum. Nam tempor quis velit eu vulputate. Aliquam scelerisque porttitor
                    elit, nec commodo ex dignissim id. Curabitur eget tellus eget justo efficitur ornare.
                </article>
                <article>
                    Cras interdum ligula pharetra, finibus sem vitae, pretium diam. Aliquam tincidunt neque et arcu
                    vulputate, et accumsan elit finibus. Integer ante erat, mollis quis vulputate id, pharetra et risus.
                    Praesent nec posuere felis, at ornare massa. Curabitur nec est in eros cursus commodo. Integer nec
                    enim massa. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos
                    himenaeos. Donec condimentum augue a felis laoreet, id finibus dui rutrum. Sed sed elit sem. Aenean
                    eu neque nisl. Vivamus hendrerit finibus posuere.
                </article>
                <article>
                    Proin quis urna dignissim, faucibus erat tincidunt, efficitur nibh. Praesent quam diam, lacinia
                    maximus purus a, volutpat laoreet enim. Integer a sem maximus turpis euismod finibus non ac mauris.
                    Duis nisl dolor, mattis in facilisis ut, molestie eu sem. Donec pulvinar ligula tempus purus
                    lobortis sodales. Fusce a purus quis lectus lacinia facilisis. Vivamus volutpat mi massa, vel
                    elementum lectus condimentum id. Sed ac neque iaculis, pellentesque dolor sit amet, aliquam tortor.
                    In posuere porta sapien sit amet feugiat. Phasellus vel purus sit amet urna pharetra vehicula ut ut
                    lacus. Maecenas sit amet eleifend tellus. Nam id tellus massa. Sed non nisl libero. Nullam malesuada
                    dolor eu egestas lacinia. Nam sapien diam, placerat consectetur lorem ut, pretium dictum eros. Sed
                    eget dictum diam.
                </article>
            </section>
            <aside>
                <div>
                    광고, 최근본상품, 바로가기링크
                </div>
                <nav>
                    <ul>
                        <li> 메뉴1 </li>
                        <li> 메뉴1 </li>
                        <li> 메뉴1 </li>
                    </ul>
                </nav>
            </aside>
        </div>
        <footer>
            <address>서울시 강남구 테헤란로</address>
            <div>저작권</div>
            <nav>
                <ul>
                    <li> 메뉴1 </li>
                    <li> 메뉴1 </li>
                    <li> 메뉴1 </li>
                </ul>
            </nav>
        </footer>
    </div>
</body>

</html>