<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>화면 설계 수정</title>
    <link href="/CSS/reset.css" rel="stylesheet">

    <link href="/CSS/mywebb_core.css" rel="stylesheet">
    
    
    <link href="/resources/css/webpage_layout.css" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&family=Noto+Serif+KR&display=swap"
        rel="stylesheet">
</head>
<body>
    <div class="wrap">
        <div class="wrap-header">
            <header>

            </header>

        </div>
        <div class="wrap-main">
            <section>

            </section>
            <aside>

            </aside>
        </div>
        <div class="wrap-footer">
            <footer>

            </footer>
        </div>
    </div>
    
</body>
</html>