<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="/CSS/reset.css" rel="stylesheet">
    <link href="/CSS/myweb.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&family=Noto+Serif+KR&display=swap"
        rel="stylesheet">
</head>

<body>
    <div class="wrap-header">
        <header>
            <nav class="tnb">
                <ul>
                    <li><a href="http://naver.com">web</a></li>
                    <li><a href="#">mobile</a></li>
                    <li><a href="#">game</a></li>
                    <li><a href="#">simulation</a></li>
                    <li><a href="#">data</a></li>
                </ul>
            </nav>
            <nav class="bnb">
                <ul>
                    <li><a href="#">java</a></li>
                    <li><a href="#">html</a></li>
                    <li><a href="#">css</a></li>
                    <li><a href="#">javascript</a></li>
                    <li><a href="#">jquery</a></li>
                </ul>
            </nav>
            <div class="logo">
                Rint Development
            </div>
        </header>
    </div>
    <div class="wrap-main">
        <section>
            <article>
                <h1 class="noto-serif"><kr-regular>제목입니다</kr-regular></h1>
                <p>
                    Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of
                    classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin
                    professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words,
                    consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical
                    literature, discovered the undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33
                    of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC. This
                    book is a treatise on the theory of ethics, very popular during the Renaissance. The first line of
                    Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32.
                </p>
            </article>
            <article>
                <h1 class="noto-serif"><kr-regular>제목입니다</kr-regular></h1>
                <p>
                    Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of
                    classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin
                    professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words,
                    consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical
                    literature, discovered the undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33
                    of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC. This
                    book is a treatise on the theory of ethics, very popular during the Renaissance. The first line of
                    Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32.
                </p>
            </article>
            <article>
                <h1 class="noto-serif"><kr-regular>제목입니다</kr-regular></h1>
                <p>
                    Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of
                    classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin
                    professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words,
                    consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical
                    literature, discovered the undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33
                    of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC. This
                    book is a treatise on the theory of ethics, very popular during the Renaissance. The first line of
                    Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32.
                </p>
            </article>
            <article>
                <h1 class="noto-serif"><kr-regular>제목입니다</kr-regular></h1>
                <p>
                    Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of
                    classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin
                    professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words,
                    consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical
                    literature, discovered the undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33
                    of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil) by Cicero, written in 45 BC. This
                    book is a treatise on the theory of ethics, very popular during the Renaissance. The first line of
                    Lorem Ipsum, "Lorem ipsum dolor sit amet..", comes from a line in section 1.10.32.
                </p>
            </article>

        </section>
        <aside>
            <div class="tab-item">
                <input type="radio" name="n1" id="first" checked="checked">
                <input type="radio" name="n1" id="second" >
                <label for="first">first</label>
                <label for="second">second</label>
                <ul>
                    <li>
                        <div>
                            <img src="https://dummyimage.com/45/ccc/fff.png" alt="45x45 dummy image">
                        </div>
                        <div>
                            <div>HTML5 Canvas</div>
                            <div>2024-03-13</div>
                        </div>
                    </li>
                    <li>
                        <div>
                            <img src="https://dummyimage.com/45/ccc/fff.png" alt="45x45 dummy image">
                        </div>
                        <div>
                            <div>HTML5 Canvas</div>
                            <div>2024-03-13</div>
                        </div>
                    </li>
                    <li>
                        <div>
                            <img src="https://dummyimage.com/45/ccc/fff.png" alt="45x45 dummy image">
                        </div>
                        <div>
                            <div>HTML5 Canvas</div>
                            <div>2024-03-13</div>
                        </div>
                    </li>
                </ul>

            </div>
            </ul>
    </div>
    </aside>
    </div>
    <div class="wrap-footer">
        <footer>
            <div>
                slide images
            </div>
            <h3> Contrary to popular belief, </h3>
            <address>web site layout basic</address>
        </footer>
    </div>
</body>

</html>